body,
html {
	height: 100%;
	max-height: 100%;
	width: 100%;
	z-index: -10;
}

body {
	background: linear-gradient(239.56deg, #07101b 4.77%, #030404 100.83%);

	overflow-x: hidden;

	font-family: "Inter", sans-serif;

	position: relative;

	overflow-y: scroll;

	scrollbar-width: none;
}

* {
	transition: right 0.1s, left 0.1s, top 0.1s, bottom 0.1s;
}

main {
	height: 200vh;
}

html {
	background-color: #131e28;

	overflow-y: hidden;
}

@keyframes hoopAnimation {
	0% {
		transform: translate(-47%, -53%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-5deg);
	}
}

.highlighted {
	color: var(--secondary-color);
}

:root {
	--navbarHeight: 12rem;
	--fontSize: 40vh;
	--fontHeight: calc(var(--fontSize) * 0.75);
	--textGap: 2rem;

	--secondary-color: #e28af0;
}

.glob_right {
	/* Rectangle 9 */

	position: absolute;
	width: 39.4rem;
	height: 14.7rem;

	right: -20%;
	bottom: 20%;

	background: #ffffff;
	filter: blur(100px);
	border-radius: 21px;

	/* animation: globAnimationRight 2s infinite alternate-reverse; */
}

.glob_left {
	position: absolute;
	width: 30vw;
	height: 20vh;

	left: 0%;
	top: 10%;

	background: #ffffff;
	filter: blur(100px);
	border-radius: 21px;

	/* animation: globAnimationLeft 2s infinite alternate-reverse;*/
}

@keyframes globAnimationRight {
	0% {
		transform: translate(20%, -10%) rotate(0deg) scaleY(100%);
		filter: blur(90px);
	}

	100% {
		transform: translate(10%, -50vh) rotate(-50deg) scale(110%);
		filter: blur(120px);
	}
}

@keyframes globAnimationLeft {
	0% {
		transform: translate(10%, 10%) rotate(0deg) scaleY(100%);
		filter: blur(90px);
	}

	50% {
		transform: translate(100vw, 100vh) rotate(280deg) scale(110%);
		filter: blur(120px);
	}

	100% {
		transform: translate(10vw, 70vh) rotate(280deg) scale(80%);
		filter: blur(120px);
	}
}

.backgroundHoop {
	position: absolute;

	height: 80vh;

	top: 60%;
	left: 50%;

	transform: translate(-50%, -50%);

	color: var(--secondary-color);

	animation: hoopAnimation 8s infinite alternate-reverse;
}

.titleSection {
	color: white;
	font-weight: 900;

	user-select: none;
}

.titleSection h2 {
	width: min-content;
}

.titleSectionLeft,
.titleSectionRight {
	width: min-content;

	display: flex;
	align-items: flex-end;
	gap: var(--textGap);
}

.titleSectionRight .secondaryTitle {
	text-align: right;
}

.secondaryTitle {
	font-size: 2.8125rem;
}

.titleSectionRight {
	position: absolute;
	right: 10%;

	top: var(--navbarHeight);

	z-index: 10;
}

.titleSectionLeft {
	position: absolute;
	left: 10%;
	top: calc(var(--navbarHeight) + var(--fontHeight) + var(--textGap));
}

.flower {
	position: absolute;

	width: 100px;
	height: 100px;

	top: 30%;
	left: 20%;

	cursor: pointer;

	z-index: 100;

	transition: scale 0.3s;
}

.flower:hover {
	scale: 1.1;
}

.mainTitle {
	font-size: var(--fontSize);

	line-height: 75%;

	-webkit-text-stroke: 10px white;
	/* text-shadow: 0 0 20px white; */
}

nav {
	display: flex;

	color: white;

	font-weight: 900;

	font-size: 2.5rem;

	height: 100%;

	padding: 0 5rem;

	display: flex;

	align-items: center;

	animation: navAnimation 2s ease forwards;
}

@keyframes navAnimation {
	0% {
		filter: blur(4px);
	}

	100% {
		filter: blur(0px);
	}
}

header {
	height: var(--navbarHeight);
}

nav .logo {
	-webkit-text-stroke: 2px white;
	line-height: 90%;
}

nav .logo,
nav .navList li {
	cursor: pointer;

	z-index: 20;

	transition: filter 0.5s ease;
}

nav .navList li .navItemIcon {
	width: 1em;
	height: 1em;
}

nav .navList li {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

nav .logo:hover,
nav .navList li:hover {
}

.logo .logoTop {
	margin-left: 3rem;
}

.navList {
	display: flex;
	justify-content: right;
	width: 100%;
	gap: 8vw;
}
.navItemUnderline {
	position: relative;

	width: 100%;

	stroke-dashoffset: 1000;
	stroke-dasharray: 100;
	left: 0;
}
